.navbar {
    background-color: #0077be;
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.logo .car {
    margin-right: 10px;
    font-size: 1.5em;
}
.bubble {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0.8;
    animation: float 4s infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0.2;
    }
}
.bubble-1 {
    width: 10px;
    height: 10px;
    top: 5px;
    left: 100px;
}
.bubble-2 {
    width: 15px;
    height: 15px;
    top: 15px;
    left: 110px;
}
.bubble-3 {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 130px;
}



.heroImage img {

    display: flex;
    width: 100%;
    height: 500px;

}

.heroImage div h1 {

    text-align: center;

}

/* Centered text */
.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
.washHeaders h3{
    font-size: 2.5em;
    font-style: italic;
    margin-top: 30px;
}

.center h1 {

    font-size: 5.5rem;
    ;
    font-weight: bolder;
    font-style: oblique;
   
}

.washPackages{

    text-align: center;
}

.packagesList{
    display: flex;
    justify-content: center;
    margin: 30px;
    justify-content:space-evenly;
    
  
}

.packagesList ul{
    margin: 10px;
    font-size: 1.5rem;
    font-weight:bold
    
}

 .card-text{
    color: white;
}

p{
    color: white;
}

p2{
    color: white;

}

#newBtn{
    margin-top: 1.5rem;
    margin-left: 9rem;
}