.navbar {
    background-color: #0077be;
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.logo .car {
    margin-right: 10px;
    font-size: 1.5em;
}
.bubble {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0.8;
    animation: float 4s infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0.2;
    }
}
.bubble-1 {
    width: 10px;
    height: 10px;
    top: 5px;
    left: 100px;
}
.bubble-2 {
    width: 15px;
    height: 15px;
    top: 15px;
    left: 110px;
}
.bubble-3 {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 130px;
}

.hidden{
    display: none;
}


.car1{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    

}


.car2 {

    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.card{
    border: solid thin;
    
    
}
.home title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    
}
.home_p {

    padding-left: 50px;
    padding-right: 50px;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


.Services_Banner {
    width: 50%;
    height: 10px;
    object-fit: cover;

}
.card_title1{
color: white;
}
.add_to_cart {
    margin: auto;
    padding: 0 0 30px;
 
 
}
.card-body{
    margin: auto;
}
.list-group-item:nth-child(odd){
    background-color: lightgray;

}
.home_title{

    text-align: center;
    margin:auto ;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.footer {
   color: white;
}

.mainscreen{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    
}

.how_you_find{

    margin: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}
.carousel-item{

    height: 500px;
}
.card-title card-text{
    color: white;
}

#border-div{
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0, 0, 255, 0.5);
    background:rgba(0, 0, 255, 0.5) ;
}

#border-divv{
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0, 0, 255, 0.5);
    background:rgba(0, 0, 255, 0.5) ;
}

#border-divvv{
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0, 0, 255, 0.5);
    background:rgba(0, 0, 255, 0.5) ;
}

body {
    background: gray;
}

